<body>
  <header class="cabecalho">
    <a href="">  <img class="cabecalho__img" src="../../assets/img/ion_chevron-back.png" alt=""> </a>
      <h3 class="cabecalho__texto">Voltar</h3>
  </header>
  <main class="cadastro">
    <img class="cadastro__img" src="../../assets/img/logo.png" alt="">
    <h2 class="cadastro__titulo">Cadastrar</h2>
    <form action="" method="POST">
      <input class="form__input form__nome" name="apelido" type="text" placeholder="Escolha um apelido">
      <input class=" form__input form__email" name="email" type="email" placeholder="Insira seu email">
      <input class="form__input form__password" name="password" type="password" placeholder="Escolha uma senha">
      <input class="form__input form__password" type="password" placeholder="Confirme sua senha">
    
      <input class="form__submit" type="submit"  value="Registre-se">
     </form>

     
  </main>
  <footer class="rodape">
    <h3 class="rodape__texto">Already have an account ? <a href="http://localhost:8100/tabs/tab1"><b>Sing In</b></a></h3>
  </footer>
</body>