<body>
  <header class="cabecalho">
    <a href="">  <img class="cabecalho__img" src="../../assets/img/ion_chevron-back.png" alt=""> </a>
      <h3 class="cabecalho__texto">Voltar</h3>
  </header>
  <main class="cadastro">
    <h2 class="cadastro__titulo">Cadastrar</h2>
    <form action="">
      <input class="form__input form__nome" type="text" placeholder="Escolha um apelido">
      <input class=" form__input form__email" type="email" placeholder="Insira seu email">
      <input class="form__input form__password" type="password" placeholder="Escolha uma senha">
      <input class="form__input form__password" type="password" placeholder="Confirme sua senha">
    
      <input class="form__submit" type="submit" name="" value="Registre-se">
     </form>

     
  </main>
  <footer class="rodape">
    <h3 class="rodape__texto">Already have an account ? <b>Sing In</b></h3>
  </footer>
</body>